:root {
  --base-size: 20px;
  --min-content-width: calc(20px * 4 * 3 + 20px * 2 * 2); /* base-size * 4 (= column-width) * 3 columns */
  --mobile-breakpoint: 920px;
}

*,
*::after,
*::before
{
 box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  line-height: 1.5em;
  background-color: var(--colour-background);
  min-height: 100vh;
  font-size: 100%;
  overflow-x: hidden;
}

.sanstream-intro-text {
  font-family: 'Armata', "Helvetica", sans-serif;
  color: var(--text-colour);
  font-size: 100%;
}

.sanstream-heading {
  font-family: 'Armata', "Helvetica", sans-serif;
  color: var(--text-colour);
  line-height: 1.4em;
  margin: calc(var(--base-size) * 2) 0 calc(var(--base-size));
}

h1.sanstream-heading {
  font-size: 1.5rem;
}

h2.sanstream-heading {
  font-size: 1.2rem;
}

h3.sanstream-heading {
  font-size: 1.1rem;
  margin: calc(var(--base-size) * 1.5) 0 calc(var(--base-size) * 0.5);
}

.sanstream-special-text {
  font-family: 'Fira Code', monospace;
  color: var(--text-colour);
}

.sanstream-body-text {
  font-family: 'Montserrat', serif;
  color: var(--text-colour);
}

.sanstream-no-list-styles {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}